body {
  margin-top: 5em;
  font-family: Palatino;
}

button, input[type="submit"] {
  border-radius: 12.5%;
}

button:hover, input[type="submit"]:hover {
  border: 2px solid rgba(103, 142, 216, 0.973);
}

#category {
  border: 0!important;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url(../images/up-and-down-icon-11.jpeg) no-repeat 90% center;
}

.reading-title {

}

.subtitle {

}

.description {

}

#new-item-form, h1, button {
  margin-left: 5vw;
}

#reading-list {
  margin: 0 5vw 1.25em 5vw;
  padding: 0!important;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(12, 1fr);
}

.wrapper {
  background-color: aquamarine;
  text-align: justify;
  padding: 1.25em 0;
  border-radius: 17.5%;
  grid-column: auto / span 4;
}

.wrapper * {
  margin-left: 0.75em;
  color: black;
}

#form-wrapper {
  display: flex;
  justify-content: flex-start;
}

.form-item {
  display: flex;
  flex-direction: column;
  padding-right: 1.5em;
}

.form-item label {
  font-weight: bold;
}

.form-item input, .form-item select {
  margin: 0.75em 0;
}